[submodule "OpenTouch"]
	path = OpenTouch
	url = https://github.com/HanifWadowskyy/OpenTouch.git
[submodule "src/pocketmine/lang/locale"]
	path = src/pocketmine/lang/locale
	url = https://github.com/pmmp/Language.git
